@font-face {
    font-family: "Samim";
    src: url("../fonts/Samim.ttf") format("truetype");
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Samim, sans-serif !important;
    background: rgb(202,206,207);
    background: linear-gradient(90deg, rgba(202,206,207,1) 0%, rgba(135,198,213,1) 42%, rgba(69,172,199,1) 66%, rgba(0,212,255,1) 100%);
}

a {
    color: rgb(33, 37, 41) !important;
}

#mynav {
    border: none !important;
}


.nav-item, #home-button {
    transition-duration: 1s;
    border-radius: 10px;
}

#home-button {
    color: rgb(33, 37, 41) !important;
    font-size: 1.5em;
}

    #home-button:hover {
        color: darkblue !important;
    }


.list-group {
    padding: 0px;
    margin-top: 5%;
}

.list-group-item {
    margin-left: 10px !important;
    border-radius: 20px;
}



td, th {
    color: rgb(33, 37, 41) !important;
}

/*.card-body {
    background-color: rgba(55,55,55, 0) !important;
}
*/
p, h1, h2, h3, h4, h5, h6, .card-title {
    color: rgb(33, 37, 41) !important;
}

.form-floating, .form-control, .form-label {
    background-color: rgba(55,55,55, 0) !important;
    color: rgb(33, 37, 41) !important;
}


.transparent {
    background-color: rgba(55,55,55, 0) !important;
}


.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.35) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    z-index: 1000;
}


.glass-dark {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.9px);
    -webkit-backdrop-filter: blur(15.9px);
    border: 1px solid rgba(0, 0, 0, 0.67);
}

.glass-light {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    border: 1px solid rgba(255, 255, 255, 0.67);
}



.progress-bar {
    color: rgb(33, 37, 41) !important;
}


.modal-backdrop {
    z-index: -1 !important;
}


body.modal-open {
    overflow: visible !important;
}

label {
    color: rgb(33, 37, 41) !important;
}

#wave {
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.form-control, .card {
    border: none !important;
}

.nav-link.active {
    background: rgba(255, 255, 255, 0.35) !important;
    border-radius: 2px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    z-index: 1000;
}






.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
    border: none;
    cursor: text;
    background: rgba(255, 255, 255, 0.35) !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    z-index: 1000;
}



    .chosen-container-multi .chosen-choices li.search-choice-disabled {
        background: rgba(255, 255, 255, 0.35) !important;
        border-radius: 16px !important;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
        backdrop-filter: blur(5px) !important;
        -webkit-backdrop-filter: blur(5px) !important;
        border: 1px solid rgba(255, 255, 255, 0.3) !important;
        z-index: 1000;
    }

    .chosen-container .chosen-drop, .chosen-container-multi .chosen-choices li.search-choice {
        background: rgba(255, 255, 255, 0.35) !important;
        border-radius: 16px !important;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
        backdrop-filter: blur(5px) !important;
        -webkit-backdrop-filter: blur(5px) !important;
        border: 1px solid rgba(255, 255, 255, 0.3) !important;
        z-index: 1000;
    }

.accordion-table {
    table-layout: auto !important;
    width: 100% !important;
}


.nav-link, #logout {
    color: #015c80 !important;
    font-size: 1.5em;
}

    .nav-link:hover, #logout:hover {
        font-size: 1.5em;
        color: midnightblue !important;
        background: rgba(255, 255, 255, 0.35) !important;
        border-radius: 8px !important;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
        backdrop-filter: blur(5px) !important;
        -webkit-backdrop-filter: blur(5px) !important;
        border: 0px solid rgba(255, 255, 255, 0.3) !important;
        z-index: 1000;
    }

.navbar-brand {
    color: #015c80 !important;
    font-size: 1.5em;
}
