@model int

<div class="modal fade" id=@("modal_" + Model) tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-dark">
                مطئنید میخواهید حذف کنید؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <a class="btn btn-danger m-1" asp-controller="Home" asp-action="Delete" asp-route-id="@Model">حذف</a>
            </div>
        </div>
    </div>
</div>