@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@*
<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>دشبورد ادمین</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard-rtl/">
    <link href="~/AdminArea/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Favicons -->
    <meta name="theme-color" content="#712cf9">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
    </style>


    <!-- Custom styles for this template -->
    <link href="../dashboard/dashboard.rtl.css" rel="stylesheet">
</head>
<body>*@

    <div class="d-flex justify-content-center">
        @*glass causes modals to not show correctly and js causes accordion problems*@
        <div class="row glass col-10">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse bg-transparent">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column p-0 m-0">
                        <li class="nav-item p-0 mx-0">
                            <a class="nav-link" asp-controller="User" aria-current="page">
                                <span data-feather="home" class="align-text-bottom"></span>
                                مدیریت کاربران
                            </a>
                        </li>

                        <li class="nav-item p-0 m-0">
                            <a class="nav-link" asp-controller="Comment">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                لیست کامنت ها
                            </a>
                        </li>
                        <li class="nav-item p-0 m-0">
                            <a class="nav-link" asp-controller='Upload'>
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                فایل های آپلود شده
                            </a>
                        </li>
                        <li class="nav-item p-0 m-0">
                            <a class="nav-link" asp-controller="Order">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                سفارشات
                            </a>
                        </li>
                        <li class="nav-item p-0 m-0">
                            <a class="nav-link" asp-controller="Category">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                دسته بندی ها
                            </a>
                        </li>
                        <li class="nav-item p-0 m-0">
                            <a class="nav-link" asp-controller="Service">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                سرویس ها
                            </a>
                        </li>
                        @*<li class="nav-item p-0 m-0">
                            <a class="nav-link" href="Administration/SeedData">
                                <span data-feather="file-text" class="align-text-bottom"></span>
                                Seed Data
                            </a>
                        </li>*@
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 p-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    @section Scripts {

    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
            crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>*@
    }
    @await RenderSectionAsync("Scripts", required: false)
@*</body>
</html>
*@
