@model List<CategoryViewModel>
@inject IUploadService UploadService


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">پروژه من</h1>
        <hr class="my-4">
        <h3>برای کارهای خود متخصصان حرفه‌ای و قابل اعتماد پیدا کنید.</h3>
    </div>
    <br />
    <br />

    <h1>سرویس مورد نظرتان را انتخاب کنید</h1>
    <div class="glass d-lg-flex flex-row justify-content-center p-3">

        @foreach (var category in Model)
        {
            @if (category.ParentCategoryId == null)
            {
                <div class="bg-transparent mx-2" style="width: 7rem;" >
                    @if (category.PictureId != null)
                    {
                        <a asp-controller="Home" asp-action="Category" asp-route-id=@category.Id>
                            <img class="card-img-top" style="border-radius: 1rem;" src="~/@await UploadService.GetFileDirectory((int)category.PictureId, Context.RequestAborted)" alt="Category Image">
                        </a>
                    }
                </div>
            }
        }
    </div>
</div>







