
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICustomerService CustomerService
@inject IExpertService ExpertService

<ul class="navbar-nav d-flex align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsExpert())
        {
            <li class="nav-item mx-1">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ExpertIndex" title="Manage">سلام @await ExpertService.GetName((await UserManager.GetUserAsync(User)).Id, Context.RequestAborted)</a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" asp-area="Expert">پنل متخصص</a>
            </li>
        }
        else if (User.IsCustomer())
        {
            <li class="nav-item mx-1">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/CustomerIndex" title="Manage">سلام @await CustomerService.GetName((await UserManager.GetUserAsync(User)).Id, Context.RequestAborted)</a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" asp-area="" asp-controller="Order">سفارشات من</a>
            </li>
        }
        else if (User.IsAdmin())
        {
            <li class="nav-item mx-1">
                <a id="manage" class="nav-link" asp-area="Administration" asp-controller="Order" asp-action="Index" title="Manage">داشبورد ادمین</a>
            </li>
        }
        <li class="nav-item d-flex align-items-center mx-4">
            <form id="logoutForm" class="form-inline d-flex align-items-center bg-transparent" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home">
                <button id="logout" type="submit" class="nav-link btn">خروج</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item mx-1">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/ExpertRegister">ثبت نام متخصص</a>
        </li>
        <li class="nav-item mx-1">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/CustomerRegister">ثبت نام کاربر</a>
        </li>
        <li class="nav-item mx-4">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">ورود</a>
        </li>
    }
</ul>
