@page
@model ExpertWorkSampleModel
@{
    ViewData["Title"] = "افزودن نمونه کار";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" asp-page="" method="post" enctype="multipart/form-data">

        <div class="form-floating">
                <input asp-for="Input.WorkSample" class="form-control" />
                <label asp-for="Input.WorkSample" class="form-label"></label>
                <span asp-validation-for="Input.WorkSample" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">افزودن</button>
    </form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
