@page
@model ExpertWorkSampleModel
@{
    ViewData["Title"] = "افزودن نمونه کار";
}
<div class="my-4">

    <partial name="_StatusMessage" for="StatusMessage" />
    <form id="profile-form" asp-page="" method="post" enctype="multipart/form-data">

        <div class="form-floating my-3">
            <input asp-for="Input.WorkSample" style="display: none;" id="work-sample" class="form-control" />
            <button class="btn btn-info my-2" onclick="document.getElementById('work-sample').click()">@Html.DisplayNameFor(x=> x.Input.WorkSample)</button>
            <span asp-validation-for="Input.WorkSample" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">افزودن</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
