@page
@model FinalProject.Endpoint.Areas.Identity.Pages.Account.Manage.ExpertAddressModel



@if (!String.IsNullOrEmpty(Model.Address))
{
    <div class="card bg-transparent p-3 border-1 my-4 glass-dark">
        @Model.Address
    </div>
    <a asp-page="ChooseProvince" asp-page-handler="Edit" asp-route-id=@Model.AddressId class="btn btn-warning">تغییر آدرس</a>
}
else
{
    <h2>شما هنوز آدرسی ثبت نکردید!</h2>
    <br />
    <a asp-page="ChooseProvince"  class="btn btn-success">اضافه کردن آدرس جدید</a>
}
