@model ServiceSaveViewModel



<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Service" asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for=Name></label>
                <input type="text" class=form-control asp-for=Name />
                <span asp-validation-for=Name class=text-danger></span>
            </div>
            <div class="form-group">
                <label asp-for=Description></label>
                <input type="text" class="form-control" asp-for=Description>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=BasePrice></label>
                <input class="form-control" asp-for=BasePrice>
                <span asp-validation-for="BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=CategoryId></label>
                <select class="form-control" asp-for=CategoryId asp-items=@ViewBag.Categories>
                    <option selected disabled>انتخاب کنید</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">ایجاد</button>
        </form>
    </div>
</div>


@section Scripts{
<partial name="_ValidationScriptsPartial" />
}